@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QSomos</title>
    <link href="~/Content/QSomos.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="cont">
        <header class="titulo">
            <h1>Quienes Somos</h1>
        </header>
        <hr />
        <ul class="na">
            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            
        </ul>
        <div class="cuadro">
            <div class="txt">
                <p>Somos una fundación guatemalteca especializada en desarrollo económico y social; no lucrativa, sin fines políticos ni religiosos, que para alcanzar sus objetivos de desarrollo sostenido, combina su amplia experiencia en microfinanzas y servicios de desarrollo empresarial con un enfoque social, basado en la capacitación constante y la promoción del desarrollo individual y comunitario.</p>

            </div>
            <div class="vision">
                <div class="imgv">
                    <img src="~/imagenes/unnamed.png" alt="MDN" width="350" height="350">

                </div>
                <div class="txtv">
                    <p>Proveer ágil y oportunamente servicios financieros y no financieros, acompañados de asesoría y capacitación, a la microempresa, pequeña empresa y comunidades rurales, para lograr su desarrollo sostenido en forma masiva, acelerando el progreso de Guatemala.</p>
                </div>

            </div>
            <div class="mision">
                <div class="imgm">
                    <img src="~/imagenes/mision.png" alt="MDN" width="350" height="350">

                </div>
                <div class="txtm">
                    <p>Promover desarrollo a través de servicios financieros y no financieros con acompañamiento, en forma eficiente y eficaz a todas las comunidades de Guatemala.</p>
                </div>

            </div>


        </div>
        <div class="pbx">
            <h2><img src="~/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
        </div>
        <div class="wha">

            <h2> <img src="~/imagenes/what.png" width="70" />+502 5190-2020</h2>
        </div>


    </div>
    
</body>
</html>


