@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sucursales</title>
    <link href="~/Content/solicitud.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h2>Encuetra una tienda mas cerca de ti</h2>
    <hr />
    <div class="cuadro">
        <div class="gua">
            <h2>.</h2>
            <hr />
            <h3>AMATITLAN</h3>
            <p>Dirección: 5ta. Calle 4-84 Barrio San Juan.</p>
            <p>Tel: 3258-5093</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>

            <h2>.</h2>
            <hr />
            <h3>PALIN</h3>
            <p>Dirección: Plaza Palmeras, 2do. Nivel, Locales 51 y 52.</p>
            <p>Tel: 3258-5093</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>

            <h2>.</h2>
            <hr />
            <h3>RÍO DULCE</h3>
            <p>Dirección: 5ta. Calle 4-84 Barrio San Juan.</p>
            <p>Tel: 3258-5093</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>

            <h2>.</h2>
            <hr />
            <h3>HUEHUETENANGO</h3>
            <p>Dirección: 5ta. Calle 4-84 Barrio San Juan.</p>
            <p>Tel: 3258-5093</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>

        </div>
        <div class="esc">
            <h2>GUATEMALA</h2>
            <hr />
            <h3>OFICINA CENTRAL</h3>
            <p>Dirección: 8.ª calle 7-11 zona 9 Guatemala.</p>
            <p>Tel: 2383-9000</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>

            <h2>ESCUINTLA</h2>
            <hr />
            <h3>PUERTO SAN JOSÉ</h3>
            <p>Dirección: Calle principal lote 126, centro comercial Plaza.</p>
            <p>Tel: 4805-5263</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>

            <h2>IZABAL</h2>
            <hr />
            <h3>MORALES</h3>
            <p>Dirección: 5ta. Calle 4-84 Barrio San Juan.</p>
            <p>Tel: 3258-5093</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>

            <h2>HUEHUETENANGO</h2>
            <hr />
            <h3>JACALTENANGON</h3>
            <p>Dirección: 5ta. Calle 4-84 Barrio San Juan.</p>
            <p>Tel: 3258-5093</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>


        </div>
        <div class="iza">
            <h2>.</h2>
            <hr />
            <h3>VILLA NUEVA</h3>
            <p>Dirección: 5.ª Ave 8-13 Zona 6 de Villa Nueva.</p>
            <p>Tel: 6636-1253</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>

            <h2>.</h2>
            <hr />
            <h3>SANTA LUCÍA</h3>
            <p>Dirección: 5ta. Calle 4-84 Barrio San Juan.</p>
            <p>Tel: 3258-5093</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>

            <h2>.</h2>
            <hr />
            <h3>PUERTO BARRIOS</h3>
            <p>Dirección: 5ta. Calle 4-84 Barrio San Juan.</p>
            <p>Tel: 3258-5093</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>

            <h2>.</h2>
            <hr />
            <h3>BARILLAS</h3>
            <p>Dirección: 5a. Avenida 6-111 Zona 1.</p>
            <p>Tel: 3258-5093</p>
            <p>Horario de atención: 8:00 – 17:00 de lunes a viernes</p>


        </div>


    </div>
    <div class="pbx">
        <h2><img src="~/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
    </div>
    <div class="wha">

        <h2> <img src="~/imagenes/what.png" width="70" />+502 5190-2020</h2>
    </div>
</body>
</html>