/*section {
    width: 95%;
    height: 80%;
    margin: 20px auto;
    background: white;
}*/

.container {
    width: 100%;
    height: 100%;
}

section .container_top {
    width: 100%;
    height: 50%;
}

.container_top .div_img1 {
    margin: 2%;
    float: left;
    display: flex;
    text-align: center;
    width: 29%;
    height: 50%;
}

    .container_top .div_img1 img, .container_top .div_img2, .container_top .div_img3 {
        padding: 1%;
        width: 50%;
        height: 70%;
    }

.container_top .div_img2 {
    margin: 2%;
    float: left;
    display: flex;
    text-align: center;
    width: 29%;
    height: 100%;
}

    .container_top .div_img2 img {
        padding: 1%;
        width: 50%;
        height: 70%;
    }

.container_top .div_img3 {
    margin: 2%;
    float: left;
    display: flex;
    text-align: center;
    width: 29%;
    height: 100%;
}

    .container_top .div_img3 img {
        padding: 1%;
        width: 50%;
        height: 100%;
    }

.container_bottom {
    width: 100%;
    height: 50%;
}

    .container_bottom .div_img4 {
        margin-left: 35%;
        
        display: flex;
        text-align: center;
        width: 29%;
        height: 100%;
    }

        .container_bottom .div_img4 img {
            padding: 1%;
            width: 100%;
            height: 70%;
        }
