
@{
    ViewBag.Title = "Abono";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Abono</title>
    <link href="/Content/index.css" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/Abono/abono_css.css" rel="stylesheet" />
</head>

<body>
    <div class="cont">
        <header class="titulo">
            <h1>Abonos</h1>
        </header>
        <hr />

        <div class="cuadro">

            <div class="formAbono">
                <form method="post">
                    <div>
                        <p>No. Préstamo: <input type="text" name="no_prestamo" size="40"></p>
                        <p>DPI: <input type="text" name="dpi" size="40"></p>
                        <p>Nombre: <input type="text" name="nombre" size="40"></p>
                        <p>Cuota: <input type="text" name="cuota" size="40"></p>
                        <p>Saldo: <input type="text" name="saldo" size="40"></p>
                        <p>Para poder realiza abono a capital debe cancelar el 30% del saldo actual</p>
                        <p>Pago: <input type="text" name="pago" size="40"></p>
                        <p>Habilitar pago a capital <input type="checkbox" name="nombre" size="40"></p>
                    </div>
                    <div>
                        <p><img src="~/imagenes/img_global/save.png"><input type="button" value="Guardar"></p>
                    </div>
                </form>
            </div>

        </div>
        <div class="pbx">
            <h2><img src="/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
        </div>
        <div class="wha">

            <h2> <img src="/imagenes/what.png" width="70" />+502 5190-2020</h2>
        </div>

    </div>

</body>
</html>