
@{
    ViewBag.Title = "PrestamoEducativo";
}

<!DOCTYPE html>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Préstamo Educativo</title>
    <link href="~/Content/ejecutivo.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QSomos.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <br />
    <h2>Préstamo Educativo</h2>
    <hr />

    <div class="cuadro">
        <center><h1> Estudiar te Traerá mayores Ingresos</h1></center>
        <h3 style="position: absolute; top: 250px; left: 680px; ">Rapi-Credit cree en todos los guatemaltecos como tú que quieren<br />superarse y alcanzar la meta de ser técnico o profecionales, para <br />promover cambios positivos en sus familias <br /><br />Brindamos préstamos para pre-primaria, primaria, básicos,<br />diversificado, carreras técnicas y carreras universitarias.<br /><br /> Si tienes deseos de superarse y el firme propósito de incrementa <br />tus ingresos para proveer un mejor futuro a tu familia... <br /><br />Y solo te falta el dinero...<br /> </h3>
        <h3 style="position: absolute; top: 600px; left: 280px; ">Financiamos la carrera que quieras estudiar<br />En los niveles de licenciatura, Post-grado o maestría. </h3>
        <h3 style="position: absolute; top: 670px; left: 280px; ">Tambien te otorgamos préstamos para que estudies carreras técnicas como: inglés u otro idioma,<br /> computacion cursos de tecnología, diseño grafico. mecánica, concina, carpinteria, herreria, <br /> corte confección, enfermeria, fisioterapia, turismo, panaderia cultura de belleza, barberia etc. </h3>
        <h3 style="position: absolute; top: 780px; left: 280px; ">Con el préstamo puedes pagar matricula, uniformes, equipo, libros, material de estudio <br />transposte, hospedaje, y todo lo que enecesites para que logres tus sueños. </h3>
        <div class="Prestamo_ampliar">
            <div class="imgv">
                <img style="position: absolute; top: 250px; left: 280px; " src="~/imagenes/Pre Educativo alexis.jpeg" alt="MDN" width="370" height="350">
                <div>
                    <button style="position: absolute; top: 560px; left: 1220px; " type="submit" onclick="location='http://localhost:55668/Solicituds/Create'">Aplicar Aquí</button>
                </div>
            </div>


        </div>


    </div>

    <div class="pbx">
        <h2><img src="~/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
    </div>
    <div class="wha">

        <h2> <img src="~/imagenes/what.png" width="70" />+502 5190-2020</h2>
    </div>
</body>
</html>
>

