h2 {
    text-align: center;
}

.cuadro {
    margin: 20px;
    padding: 20px;
    height: 1000px;
    width: 1150px;
    background-size: auto;
    background-color: azure;
    border-radius: 15px;
}

.wha {
    float: right;
}

.pbx {
    float: left;
}

.gua, .esc, .iza {
    padding: 5px;
    float: left;
    color: blue;
}

hr {
    color: red;
}
