
@{
    ViewBag.Title = "Administrador";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administrador</title>
    <link href="/Content/index.css" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="~/Content/Administrador/Administrador.css" rel="stylesheet" />
</head>

<body>
    <div class="cont">
        <header class="titulo">
            <h1>Administrador</h1>
        </header>
        <hr />

        <div class="cuadro">
            <div class="container">
                <div class="container_top">
                    <div class="div_img1">
                        <p>
                            <img src="~/imagenes/ampliar creditoa alexis.jpg" class="img-thumbnail" width="50" height="50" onclick="location='http://localhost:55668/Abono/Abono'"><button type="submit" onclick="location='http://localhost:55668/TransaccionPrestamoes'">Gestion de Transacciones</button>@*<button>@Html.ActionLink("Abono", "Abono", "Abono", routeValues: null, htmlAttributes: new { id = "abonoLink" })</button>*@
                        </p>
                    </div>
                    <div class="div_img2">
                        <p>
                            <img src="~/imagenes/2701088-128.png" class="img-thumbnail" width="50" height="50" onclick="location='http://localhost:55668/Account/Register'"><button type="submit" onclick="location='http://localhost:55668/Account/Register'">Registrar Nuevo Usuario</button>@*<button>@Html.ActionLink("Crear Cuenta Cliente", "CrearCuentaCliente", "CrearCuentaCliente", routeValues: null, htmlAttributes: new { id = "crearCuentaClienteLink" })</button>*@
                        </p>
                    </div>
                    <div class="div_img3">
                        <p>
                            <img src="~/imagenes/Administrador/edit.png" class="img-thumbnail" width="250" height="250" onclick="location='http://localhost:55668/EditarCuentaCliente/EditarCuentaCliente'"><button type="submit" onclick="location='http://localhost:55668/UsuariosLogin'">Editar Usuarios</button> @*<button>@Html.ActionLink("Editar Usuario", "EditarCuentaCliente", "EditarCuentaCliente", routeValues: null, htmlAttributes: new { id = "editarCuentaClienteLink" })</button>*@
                        </p>
                    </div>
                </div>
                @*<div class="container_bottom">
                    <div class="div_img4">
                        <p>
                            <img src="~/imagenes/Administrador/concedido.png" onclick="location='http://localhost:55668/AutorizacionDePrestamo/AutorizacionDePrestamo'"><button>@Html.ActionLink("Autorizar Prestamo", "AutorizacionDePrestamo", "AutorizacionDePrestamo", routeValues: null, htmlAttributes: new { id = "autorizacionDePrestamoLink" })</button>
                        </p>
                    </div>
                </div>*@
            </div>

        </div>
        <div class="pbx">
            <h2><img src="/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
        </div>
        <div class="wha">
            <h2> <img src="/imagenes/what.png" width="70" />+502 5190-2020</h2>
        </div>

    </div>

</body>
</html>