
@{
    ViewBag.Title = "PrestamoInicio";
}

<!DOCTYPE html>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Préstamo Para Iniciar Tu Negocio</title>
    <link href="~/Content/solicitud.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QSomos.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <br />
    <h2>Préstamo Para Iniciar Tu Negocio</h2>
    <hr />

    <div class="cuadro">
        <center><h1> Inicia Tu Propio Negocio! </h1></center>
        <h3 style="position: absolute; top: 250px; left: 680px; ">En Rapi-Credit creemos en ti, por eso te apoyamos con prestamos <br />  para que inicies tu propio negocio <br /> o mejores el que ya tengas. <br /> (menor a 3 años de tu primera venta).<br /><br /> Beneficios: <br />Te capacitamos para aumetar tus oportunidades de exito<br /> y ganar mas Dinero.<br />Te prestamos el dinero que necesites para iniciar. <br />Te acompañamos en la puesta en marcha.<br /><br />Si tienes una idea de negocio y quieres hacerla <br />realidad y solo te falta dinero...</h3>


        <div class="prestamo_inicio">
            <div class="imgv">
                <img style="position: absolute; top: 250px; left: 280px; " src="~/imagenes/pre inicio alexis.jpeg" alt="MDN" width="370" height="350">
                <div>
                    <button style="position: absolute; top: 650px; left: 1250px; " type="submit" onclick="location=">Aplicar</button>
                </div>
            </div>


        </div>




    </div>
    <div class="pbx">
        <h2><img src="~/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
    </div>
    <div class="wha">

        <h2> <img src="~/imagenes/what.png" width="70" />+502 5190-2020</h2>
    </div>
</body>
</html>


