
@{
    ViewBag.Title = "NSolicitud";
}

<!DOCTYPE html>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nueva Solicitud</title>
    <link href="~/Content/solicitud.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <br />
    <h2>Nueva Solicitud</h2>
    <hr />

    <div class="cuadro">
        <div class="precalificacion">
            <div class="imgv">
                <img style="position: absolute; top: 250px; left: 325px; " src="~/imagenes/precalificaciona alexis.png" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 435px; left: 310px; " type="submit" onclick="location=">Precalificación</button>
                </div>
            </div>


        </div>
        <div class="clientes">
            <div class="imgm">
                <img style="position: absolute; top: 250px; left: 775px; " src="~/imagenes/clientesa alexis.png" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 435px; left: 780px; " type="submit" onclick="location=">Clientes</button>
                </div>
            </div>


        </div>
        <div class="credito">
            <div class="imgm">
                <img style="position: absolute; top: 250px; left: 1150px; " src="~/imagenes/modificarb alexis.png" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 435px; left: 1100px; " type="submit" onclick="location=">Seguimiento a Credito</button>
                </div>
            </div>


        </div>


    </div>
    <div class="pbx">
        <h2><img src="~/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
    </div>
    <div class="wha">

        <h2> <img src="~/imagenes/what.png" width="70" />+502 5190-2020</h2>
    </div>
</body>
</html>

