
@{
    ViewBag.Title = "Ejventas";
}

<!DOCTYPE html>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejecutivo de Ventas</title>
    <link href="~/Content/ejecutivo.css" rel="stylesheet" type="text/css" />
   
</head>

<body>
    <br />
    <h2>Ejecutivo de Ventas</h2>
    <hr />

    <div class="cuadro">
        <div class="ampliar_credito">
            <div class="imgv">
                <img style="position: absolute; top: 175px; left: 325px; " src="~/imagenes/ampliar creditob alexis.png" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 350px; left: 310px; " type="submit" onclick="location=">Ampliar Credito</button>
                </div>
            </div>
        </div>
        <div class="estado_prestamo">
            <div class="imgm">
                <img style="position: absolute; top: 175px; left: 775px; " src="~/imagenes/ampliar creditoa alexis.jpg" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 350px; left: 740px; " type="submit" onclick="location=">Estado de Préstamo</button>
                </div>
            </div>
        </div>
        <div class="Editar_perfil">
            <div class="imgm">
                <img style="position: absolute; top: 175px; left: 1200px; " src="~/imagenes/usuarios alexis.jpg" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 350px; left: 1200px; " type="submit" onclick="location=">Editar Perfil</button>
                </div>
            </div>
        </div>
        <div class="ampliar_credito_Solicitud">
            <div class="imgv">
                <img style="position: absolute; top: 450px; left: 325px; " src="~/imagenes/solicitud,alexis.png" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 600px; left: 310px; " type="submit" onclick="location=">Ampliar Nueva Solicitud </button>
                </div>
            </div>
        </div>
        <div class="Precalificacion">
            <div class="imgm">
                <img style="position: absolute; top: 450px; left: 775px; " src="~/imagenes/precalificaciona alexis.png" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 600px; left: 775px; " type="submit" onclick="location=">Precalificación</button>
                </div>
            </div>
        </div>
        <div class="clientes">
            <div class="imgm">
                <img style="position: absolute; top: 450px; left: 1200px; " src="~/imagenes/clientesa alexis.png" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 600px; left: 1210px; " type="submit" onclick="location=">Clientes</button>
                </div>
            </div>
        </div>
        <div class="seguimiento">
            <div class="imgm">
                <img style="position: absolute; top: 700px; left: 775px; " src="~/imagenes/segimiento alexis.jpg" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 870px; left: 740px; " type="submit" onclick="location=">Seguimiento a credito</button>
                </div>
            </div>
        </div>



    </div>

    <div class="pbx">
        <h2><img src="~/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
    </div>
    <div class="wha">

        <h2> <img src="~/imagenes/what.png" width="70" />+502 5190-2020</h2>
    </div>
</body>
</html>




