
@{
    ViewBag.Title = "Prestamos";
}

<!DOCTYPE html>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Préstamos</title>
    <link href="~/Content/ejecutivo.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <br />
    <h2>Préstamos</h2>
    <hr />

    <div class="cuadro">
        <div class="ampliar_credito">
            <div class="imgv">
                <img style="position: absolute; top: 250px; left: 350px; " src="~/imagenes/apropecuario alexis.jpeg" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 415px; left: 310px; " type="submit" onclick="location='http://localhost:55668/PrestamoAgro/PrestamoAgro'">Préstamos Agropecuarios</button>
                </div>
            </div>
        </div>
        <div class="estado_prestamo">
            <div class="imgm">
                <img style="position: absolute; top: 250px; left: 775px; " src="~/imagenes/negocio alexis.jpeg" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 415px; left: 730px; " type="submit" onclick="location='http://localhost:55668/PrestamoInicio/PrestamoInicio'">préstamo iniciar negocio</button>
                </div>
            </div>
        </div>
        <div class="Editar_perfil">
            <div class="imgm">
                <img style="position: absolute; top: 250px; left: 1160px; " src="~/imagenes/ampliar negocio alexis.jpeg" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 415px; left: 1100px; " type="submit" onclick="location='http://localhost:55668/PrestamoAmpliar/PrestamoAmpliar'">Préstamo Ampliar Negocio</button>
                </div>
            </div>
        </div>
        <div class="ampliar_credito_Solicitud">
            <div class="imgv">
                <img style="position: absolute; top: 530px; left: 520px; " src="~/imagenes/educativo alexis.jpeg" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 700px; left: 490px; " type="submit" onclick="location='http://localhost:55668/PrestamoEducativo/PrestamoEducativo'">Préstamo Educativo </button>
                </div>
            </div>
        </div>
        <div class="Precalificacion">
            <div class="imgm">
                <img style="position: absolute; top: 530px; left: 1020px; " src="~/imagenes/vivienda alexis.jpeg" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 700px; left: 930px; " type="submit" onclick="location=">Préstamo para Mejorar Vivienda</button>
                </div>
            </div>
        </div>
        
        



    </div>

    <div class="pbx">
        <h2><img src="~/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
    </div>
    <div class="wha">

        <h2> <img src="~/imagenes/what.png" width="70" />+502 5190-2020</h2>
    </div>
</body>
</html>




