
@{
    ViewBag.Title = "Prestamos";
}

<!DOCTYPE html>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Préstamos</title>
    <link href="~/Content/solicitud.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <h2>Préstamos</h2>
    <hr />
    <div class="cuadro">
        
        <div class="card1">

            <img src="~/imagenes/apropecuario alexis.jpeg" alt="MDN" width="150" height="150">
            <div class="">
                <button type="submit" onclick="location='http://localhost:55668/PrestamoAgro/PrestamoAgro'">Préstamos Agropecuarios</button>
            </div>

        </div>
        <div class="card2">

            <img src="~/imagenes/negocio alexis.jpeg" alt="MDN" width="150" height="150">
            <div>
                <button type="submit" onclick="location='http://localhost:55668/PrestamoInicio/PrestamoInicio'">préstamo iniciar negocio</button>
            </div>

        </div>
        <div class="card3">

            <img src="~/imagenes/ampliar negocio alexis.jpeg" alt="MDN" width="150" height="150">
            <div>
                <button type="submit" onclick="location='http://localhost:55668/PrestamoAmpliar/PrestamoAmpliar'">Préstamo Ampliar Negocio</button>
            </div>

        </div>
        <div class="card4">

            <img src="~/imagenes/educativo alexis.jpeg" alt="MDN" width="150" height="150">
            <div>
                <button type="submit" onclick="location='http://localhost:55668/PrestamoEducativo/PrestamoEducativo'">Préstamo Educativo </button>
            </div>

        </div>



    </div>
    <div class="pbx">
        <h2><img src="~/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
    </div>
    <div class="wha">

        <h2> <img src="~/imagenes/what.png" width="70" />+502 5190-2020</h2>
    </div>
</body>
</html>




