
@{
    ViewBag.Title = "Cliente";
}

<!DOCTYPE html>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cliente</title>
    <link href="~/Content/solicitud.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <br/>
    <h2>Cliente</h2>
    <hr />
    
    <div class="cuadro">
        <div class="ampliar_credito">
            <div class="imgv">
                <img style="position: absolute; top: 250px; left: 325px; " src="~/imagenes/ampliar creditob alexis.png" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 425px; left: 310px; " type="submit" onclick="location=">Ampliar Credito</button>
                </div>
            </div>


        </div>
        <div class="estado_prestamo">
            <div class="imgm">
                <img style="position: absolute; top: 250px; left: 775px; " src="~/imagenes/ampliar creditoa alexis.jpg" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 425px; left: 740px; " type="submit" onclick="location=">Estado de Préstamo</button>
                </div>
            </div>


        </div>
        <div class="Editar_perfil">
            <div class="imgm">
                <img style="position: absolute; top: 250px; left: 1200px; " src="~/imagenes/usuarios alexis.jpg" alt="MDN" width="150" height="150">
                <div>
                    <button style="position: absolute; top: 425px; left: 1200px; " type="submit" onclick="location=">Editar Perfil</button>
                </div>
            </div>


        </div>


    </div>
    <div class="pbx">
        <h2><img src="~/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
    </div>
    <div class="wha">

        <h2> <img src="~/imagenes/what.png" width="70" />+502 5190-2020</h2>
    </div>
</body>
</html>
