
@{
    ViewBag.Title = "AutorizacionDePrestamo";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Autorización De Préstamo</title>
    <link href="/Content/index.css" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/AutorizacionDePrestamo/AutorizacionDePrestamo.css" rel="stylesheet" />
</head>

<body>
    <div class="cont">
        <header class="titulo">
            <h1>Autorización De Préstamo</h1>
        </header>
        <hr />

        <div class="cuadro">

            <div class="formAbono">
                <form>
                    <p>Buscar: <input type="text" name="buscar" size="40"></p>
                    <p>ESPACIO RESERVADO LLENADO DE LA TABLA SEGUN CONSULTA</p>
                    <p>DPI: <input type="text" name="dpi" size="40"></p>
                    <p>Nombre: <input type="text" name="nombre" size="40"></p>
                    <p>No. Préstamo: <input type="text" name="no_prestamo" size="40"></p>
                    <p>Descripción: <input type="text" name="descripcion" size="40"></p>
                    <p>Cantidad Prestada: <input type="text" name="cantidad_presada" size="40"></p>
                    <p>Cuota: <input type="text" name="cuota" size="40"></p>
                    <p>Fecha de pago: <input type="text" name="fechaDePago" size="40"></p>
                    <p><img src="~/imagenes/img_global/print.png"><input type="button" value="Imprimir Formulario"></p>
                    <p><img src="~/imagenes/img_global/save.png"><input type="button" value="Guardar"></p>
                </form>
            </div>

        </div>
        <div class="pbx">
            <h2><img src="/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
        </div>
        <div class="wha">

            <h2> <img src="/imagenes/what.png" width="70" />+502 5190-2020</h2>
        </div>

    </div>

</body>
</html>