
@{
    ViewBag.Title = "PrestamoAgro";
}


<!DOCTYPE html>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Préstamo Agropecuario</title>
    <link href="~/Content/solicitud.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QSomos.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <br />
    <h2>Préstamo Agropecuario</h2>
    <hr />

    <div class="cuadro">
        <center><h1> Inicia Tu Préstamo Agropecuario</h1></center>
         <h3 style="position: absolute; top: 250px; left: 680px; ">En Rapi-Credit creemos en ti, por eso te apoyamos con prestamos <br />  para  inertir en tus actividades agropecuarias y tener más <br /> oportunidades en nuevos mercados. <br /><br /> Apoyamos diversidad de cultivos: Granos, Frutas. Verduras, etc.<br /><br /> Apoyamos tu producción pecuaria: Engorde, Reproducción, ventas. <br /><br /> Si deceas aumentar y mejorar tu producción.. <br /> <br />Y solo te falta el dinero</h3>

      
        <div class="ampliar_credito">
            <div class="imgv">
                <img style="position: absolute; top: 250px; left: 280px; " src="~/imagenes/Pre Agropecuario alexis.jpeg" alt="MDN" width="350" height="350">
                <div>
                    <button style="position: absolute; top: 650px; left: 1250px; " type="submit" onclick="location=">Aplicar</button>
                </div>
            </div>


        </div>




    </div>
    <div class="pbx">
        <h2><img src="~/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
    </div>
    <div class="wha">

        <h2> <img src="~/imagenes/what.png" width="70" />+502 5190-2020</h2>
    </div>
</body>
</html>


