
@{
    ViewBag.Title = "PrestamoAmpliar";
}

<!DOCTYPE html>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Préstamo Para Negocio</title>
    <link href="~/Content/solicitud.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QSomos.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <br />
    <h2>Préstamo para Negocio</h2>
    <hr />

    <div class="cuadro">
        <center><h1> Invierte en tu negocio y Aumenta tus Ganancias </h1></center>
        <h3 style="position: absolute; top: 250px; left: 680px; ">En Rapi-Credit creemos en ti y en el crecimiento de tu negocio <br /><br />  por eso te apoyamos con préstamos para invertir en capital de <br />trabajos o activos fijos, con montos y formas de pago que se <br /> adapten a tus actividades productivas.<br /><br /> Queremos que mejores tu negocio para que aumentes tus ganacias <br /><br />Pero si te hace falta el dinero y necesitas un préstamo...<br /> </h3>


        <div class="Prestamo_ampliar">
            <div class="imgv">
                <img style="position: absolute; top: 250px; left: 280px; " src="~/imagenes/Pre negocio alexis.jpeg" alt="MDN" width="370" height="350">
                <div>
                    <button style="position: absolute; top: 650px; left: 1220px; " type="submit" onclick="location=">Aplicar Aquí</button>
                </div>
            </div>


        </div>




    </div>
    <div class="pbx">
        <h2><img src="~/imagenes/pbx.png" /> PBX +502 2200-2200</h2>
    </div>
    <div class="wha">

        <h2> <img src="~/imagenes/what.png" width="70" />+502 5190-2020</h2>
    </div>
</body>
</html>




